</div>

<p><em>This is being sent to <%=h @user.name %> because you asked to be notified via email whenever
new content is posted to  <a href="<%= @blog.base_url%>"><%= @blog.blog_name %></a>
To unsubscribe, go to
<a href="<%= @link_url = edit_admin_user_url(@user, host: @blog.base_url) %>"><%= @link_url %></a>
and change your user settings.</p>
