<p>A new comment has been posted on
    <a href="<%= @blog.base_url%>"><%= @blog.blog_name %></a>, responding to
    <a href="<%= article_url(@comment.article.permalink) %>"><%=h(@comment.article.title) %></a>.</p>

<%= render 'mail_header' %>
<h2><%=h @comment.title %></h2>
<cite><strong><%= (@comment.url.blank?) ? h(@comment.author) : link_to(h(@comment.author), @comment.url) %></strong> </cite>
 <%= link_to('said', article_url(@comment.article.permalink, anchor: "comment-#{@comment}")) %>
 <%= display_date_and_time @comment.created_at %> <br>
<%= html @comment %>
<%= render 'mail_footer' %>
