<footer class="l-footer">
  <div class="l-footer-links">
    <div class="l-constrained">
      <h2 class="visually-hidden">Footer links</h2>
      <div class="l-footer-links-section">
        <% unless @popular_articles.empty? %>
          <h3 class="l-footer-link__header">What's popular</h3>

          <ol class="unstyled-list l-footer-link__list">
            <% @popular_articles.each do |article| %>
              <li class="l-footer-link__list-item">
                <%= link_to article.title, article_path(article.permalink) %>
                <time class="l-footer-link__list-item-time"><%= "#{display_article_date(article)}" %></time>
              </li>
            <% end %>
          </ol>
        <% end %>
      </div>

      <div class="l-footer-links-section">
        <h3 class="l-footer-link__header">Latest posts</h3>

        <ol class="unstyled-list l-footer-link__list">
          <% latest_articles.each do |article| %>
            <li class="l-footer-link__list-item">
              <%= link_to article.title, article_path(article.permalink) %>
              <time class="l-footer-link__list-item-time"><%= "#{display_article_date(article)}" %></time>
            </li>
          <% end %>
        </ol>
      </div>

      <div class="l-footer-links-section l-footer-links-section--helpful">
        <h3 class="l-footer-link__header">Helpful links</h3>

        <ol class="unstyled-list l-footer-link__list">
          <li class="l-footer-link__list-item">
            <a href="https://www.moneyadviceservice.org.uk/en/static/about-us">About us</a>
          </li>
          <li class="l-footer-link__list-item">
            <a href="https://www.moneyadviceservice.org.uk/en/static/media-centre">Media centre</a>
          </li>
          <li class="l-footer-link__list-item">
            <a href="https://www.moneyadviceservice.org.uk/en/categories/partners">Partners</a>
          </li>
          <li class="l-footer-link__list-item">
            <a href="https://www.moneyadviceservice.org.uk/en/static/jobs">Jobs</a>
          </li>
          <li class="l-footer-link__list-item">
            <a href="https://www.moneyadviceservice.org.uk/en/categories/our-debt-work">Our debt work</a>
          </li>
          <li class="l-footer-link__list-item">
            <a href="https://www.moneyadviceservice.org.uk/en/categories/tools-and-calculators">Tools &amp; calculators </a>
          </li>
          <li class="l-footer-link__list-item">
            <a href="https://www.moneyadviceservice.org.uk/en/static/contact-us">Contact us</a>
          </li>
        </ol>

      </div>
    </div>
  </div>
  
  <div class="l-footer-contact">
    <div class="l-constrained">
      <div class="l-footer-contact__right">
        
        <p class="l-footer-contact__text">
          For free and impartial money advice go to <a href="https://www.moneyhelper.org.uk">moneyhelper.org.uk</a> or call us on <a href="tel:08001387777">0800 138 7777</a>.
        </p>
      </div>
    </div>
  </div>

  <div class="l-constrained">
  <p class="footer__copyright">
    <%= "&copy; #{t('footer.copyright')} #{DateTime.now.year} #{t('footer.money_advice_service')} #{t('footer.address')}"%>
  </p>
  </div>

  <div class="l-footer-secondary t-footer-secondary">
    <div class="l-constrained">
    <div class="l-footer-secondary--inner">
      <div class="l-footer-secondary__list--left">
        <ul class="l-footer-secondary__list">
          <li class="l-footer-secondary__list-item accessibility-feedback-link">
            <form target="_blank" class="accessin" id="AccessIN_form" action="https://accessin.org/app/accessin/index.php/welcome/index_AccessIN" method="post">
              <input type="hidden" name="ai_url" id="AccessIN_url" value="unset">
              <input type="hidden" name="ai_dom" id="AccessIN_dom" value="unset">
              <button type="submit" class="accessin__submit">
                <span class="icon icon--accessibility"></span>
                <span>Report an accessibility problem</span>
              </button>
            </form>
            <% content_for(:javascripts) do %>
              <script type="text/javascript" src="https://accessin.org/app/accessin/resources/AccessIN.js"></script>
            <% end %>
          </li>

          <li class="l-footer-secondary__list-item footer-secondary__mps-link">
            <a href="https://moneyandpensionsservice.org.uk/" target="_blank">
              <span class="footer-secondary__mps-text">
                <span><%= t('footer.mps_provided_1') %></span>
                <span><%= t('footer.mps_provided_2') %></span>
                <span><%= t('footer.mps_provided_3') %></span>
              </span>
              <%= image_tag("mps-logo.png", class: 'mps-logo__img', alt: "#{t('footer.mps')} #{t('footer.mps')} logo") %>
              <span class="visually-hidden">opens in a new window</span>
            </a>
          </li>
        </ul>
      </div>

      <div class="l-footer-secondary__list--right">
        <ul class="l-footer-secondary__list">
          <li class="l-footer-secondary__list-item">
            <a href="https://www.moneyadviceservice.org.uk/en/corporate/contact-us">Contact us</a>
          </li>
          <li class="l-footer-secondary__list-item">
            <a href="http://www.moneyadviceservice.org.uk/en/static/terms-and-conditions">Terms &amp; conditions</a>
          </li>
          <li class="l-footer-secondary__list-item">
            <a href="http://www.moneyadviceservice.org.uk/en/static/privacy">Privacy notice</a>
          </li>
          <li class="l-footer-secondary__list-item">
            <a href="http://www.moneyadviceservice.org.uk/en/static/accessibility">Accessibility</a>
          </li>
          <li class="l-footer-secondary__list-item">
            <a href="http://www.moneyadviceservice.org.uk/en/static/cookie_notice_en">Cookies</a>
          </li>
          <li class="l-footer-secondary__list-item">
            <a href="https://www.moneyadviceservice.org.uk/en/sitemap">Sitemap</a>
          </li>
        </ul>
      </div>
    </div>
    </div>
  </div>
</footer>
